.p-b-17{
  padding-bottom:17px;
}
.p20{
  padding:20px 0;
}
.p-t-17{
  padding-top:17px;
}
.se-group{
  border-bottom:1px solid #C4C4C4;
  box-sizing:border-box;
}
.se-group.brno{
  border:0;
}
.prd-search-wrap .se-group .se-chkbox-wrap .check_box span {
  color:#666;
  font-weight: 400;
  vertical-align: middle;
  line-height:20px;
  font-family: 'Noto Sans KR', sans-serif;
}
.prd-search-wrap .se-group .se-chkbox-wrap .check_box input[type='checkbox'] + label:after,
.prd-search-wrap .se-group .se-chkbox-wrap .check_box input[type='checkbox'] + label:before{
  top: 1px;
  vertical-align: middle;
  line-height: 20px;
}

.prd-search-wrap .search-group-tit {
  display: flex;
  padding: 0 42px 0 24px;
  border-right: 1px solid #C4C4C4;
  color: #ed1c24;
  font-weight: 500;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  align-items: center;
  justify-content: center;
  font-style: normal;
  box-sizing: border-box;
}
.prd-search-wrap .search-group-tit span {
  margin-left: 17px;
}
.prd-search-wrap .se-group > div,
.prd-search-wrap .se-group .se-chkbox-wrap .check_box > div{
  display:inline-block;
  vertical-align: middle;
}
.prd-search-wrap .se-group .se-chkbox-wrap .check_box > div{
  margin-left:30px;
}
.prd-search-wrap .se-group .se-chkbox-wrap .check_box > div:first-child{
  margin-left:44px;
}
.prd-search-wrap .se-group .se-chkbox-wrap .check_box .tooltip {
  display: inline-block;
  position:relative;
  top:1px;
  margin-left:5px;
}
.prd-search-wrap .se-group .se-chkbox-wrap .check_box .prd-tooltip {
  vertical-align: sub;
  cursor:pointer;
}
.tooltip-info {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 0;
  width: 225px;
  height: 187px;
  background: url(../img/prd/tooltipbg.png);
  font-family: 'Noto Sans KR', sans-serif;
  background-size: 225px;
  background-position: center top;
  background-repeat: no-repeat;
  font-style: normal;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  visibility:hidden;
}
.tooltip-info.on{
  opacity: 1;
  visibility:visible;
}
.tooltip-info > div {
  padding: 27px 18px;
}
.tooltip-info a {
  display:block;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}
.tooltip-info a img {
  margin-left: 5px;
}
.tooltip-info .tooltip-tit {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}
.tooltip-info .tooltip-txt {
  color: #666;
  font-size: 14px;
  line-height: 22px;
}
.tooltip-info .tooltip-line {
  width: 100%;
  height: 1px;
  margin: 13px 0;
  background: #ddd;
}
.prd-search-reset {
  margin-top: 37px;
  text-align: center;
}
.prd-search-reset button {
  display: inline-block;
  padding: 10px 24px;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 5px;
}
.prd-search-reset button.reset {
  margin-right: 7px;
}
.prd-search-reset button span {
  margin-left: 5px;
  color: #666;
  font-weight: 500;
  font-size: 14px;
}
.prd-search-reset button div {display: flex;text-align: center;line-height:17px;align-items: center;}
.compare_box > .desc > .list > div .desc{
  position: relative;
  min-height:23px;
}
.compare_box > .desc > .list > div .desc:after{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  color: #aaa;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  content: '제품을 선택해주세요';
  letter-spacing: -2px;
}
.compare_box > .desc > .list > div.on .desc:after{
  display: none;
}
/* list */
.prd-list-wrap {
  margin: 73px 0 120px;
}
.prd-list-box{margin-top:20px;}
.prd-list-box:after {display: block;content: '';clear: both;}

.prd-list-box .prd {
  float: left;
  width: 271px;
  margin-right: 32px;
  margin-bottom: 42px;
  font-size: 0;
}

.prd-list-box .prd:nth-child(4n) {
    margin-right: 0;
}
.prd-list-box .prd .thumb {
  position: relative;
}

.prd-list-box .prd .hover-cont {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ED1C24;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.21, 0.58, 0.76, 0.9);
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.58, 0.76, 0.9);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.58, 0.76, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.58, 0.76, 0.9);
}
.prd-list-box .prd:hover .hover-cont {
  opacity: 1;
  visibility: visible;
}
.prd-list-box .prd .hover-cont > div {width: 100%;text-align: center;}
.prd-list-box .prd .hover-cont .morebtn {
  display: inline-block;
  padding: 10px 21px;
  background: #fff;
  color: #ed1c24;
  font-size: 15px;
  border-radius: 20px;
}

.prd-list-box .prd .hover-cont .hashtag {
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.prd-list-box .prd .hover-cont .hashtag span {
  margin-right: 5px;
  letter-spacing: -1px;
}
.prd-list-box .prd .info {
    margin-top: 15px;
}

.prd-list-box .prd .info .title {
  position: relative;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
.prd-list-box .prd .info .subtxt {
  color: #666;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
.prd-list-box .prd > label:after,
.prd-list-box .prd > label:before{
  display: none;
}
.prd-list-box .prd input[type='checkbox'] + label .info .title:before {
  display: inline-block;
  position: absolute;
  right:0;
  width: 28px;
  height: 28px;
  background: url(../img/prd/prd_un_check.png);
  vertical-align: middle;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px;
}
.prd-list-box .prd input[type='checkbox'] + label .info .title:after {
  display: inline-block;
  position: absolute;
  right:0;
  width: 28px;
  height: 28px;
  background: url(../img/prd/prd_check.png);
  vertical-align: middle;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  -moz-webkit-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  -ms-webkit-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}
.prd-list-box .prd input[type='checkbox']:checked + label .info .title:after {
  opacity:1;
}
.prd-list-box .prd input[type='checkbox']:disabled + label .info .title:before {
  background: url(/paulmade/resources/img/front/mo/ko/common/M_check_dis.png);
  background-size: 17px;
}

/* banner */
.prd-list-banner{margin-top:100px;}
.prd-list-banner img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

/* detail */
.product-top {
  display: flex;
  padding-top: 20px;
}
.product-top .prd-top-left {
  margin-right: 120px;
  max-width: 580px;
}
.product-top .prd-top-right {
  width: 50%;
  padding-top:50px;
}
.product-top .prd-top-right .prd-title {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #3B302F;
}
.product-top .prd-title .subinfo {
  margin-top: 21px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}

.product-top .prd-title .hashtag {
  margin-top: 15px;
  color: #ED1C24;
  font-size: 16px;
  line-height: 23px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
.product-top .prd-title .hashtag span {
  margin-right: 10px;
}
.product-top .prd-option {
  padding-top: 17px;
}
.product-top .prd-option ul {
  display: flex;
}
.product-top .prd-option ul > li{
  line-height:45px;
}
.product-top .prd-option .option-tit {
  margin-right: 23px;
  color: #666;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -2px;
}
.product-top .prd-option .option-txt {
  width: 100%;
}
.product-top .prd-option .option-txt > div {
  display: flex;
  float: left;
  margin-right: 20px;
  align-items: center;
}
.product-top .prd-option .option-txt > div p{margin-right:3px;}
.product-top .prd-option .option-txt > div > .tooltip {
  line-height: 45px;
}
.product-top .prd-option .option-txt > div > .tooltip > img{
  vertical-align: sub;
}
.product-top .prd-option .option-txt > div > .tooltip .tooltip-info{
  top:40px;
}
.product-top .prd-top-link{
  margin-top:40px;
}
.product-top .prd-top-link:after{
  display: block;
  content:'';
  clear:both;
}
.product-top .prd-top-link .prd-more-btn {
  display: inline-block;
  width: 280px;
  height: 60px;
  border: 2px solid;
  color: #ed1c24;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  transition: all ease .2s;
  border-radius: 30px;
  box-sizing: border-box;
}
.product-top .prd-more-btn:hover {
  color: #3b302f;
  transition: all ease .2s;
}
.product-top .prdview_btn{
  float:right;
}
.prd-thumb-slider .pagination{
  position: relative;
  height:50px;
  margin-top:20px;
  text-align:center;
  line-height: 50px;
}
.prd-thumb-slider .pagination > div{
  display:inline-block;
  position: initial;
}
.prd-thumb-slider .pagination .swiper-pagination{
  margin:0 16px;
  line-height: 50px;
}
.prd-thumb-slider .pagination .swiper-button-next{
  background-image: url(../img/products_detail/prd_detail_next.png);
}
.prd-thumb-slider .pagination .swiper-button-prev{
  background-image: url(../img/products_detail/prd_detail_prev.png);
}
.prd-thumb-slider .pagination .swiper-button-next,
.prd-thumb-slider .pagination .swiper-button-prev{
  display: none;
  width:50px;
  height:50px;
  vertical-align: bottom;
  background-size:50px;
  outline: none;
}
.prd-thumb-slider .pagination .swiper-pagination-bullet{
  width:12px;
  height:12px;
  margin:0 11px;
  border: 2px solid #aaa;
  background:none;
  box-sizing: border-box;
  outline: none;
  opacity:1;
}
.prd-thumb-slider .pagination .swiper-pagination-bullet-active{
  border: 2px solid #ed1c24;
  transition: all ease .2s;
}

/* detail tab */
.detail-wrap {
  margin-top: 98px;
}
.detail-wrap .list_tab ul{margin-left:-1px;}
.detail-wrap .list_tab ul:after {
  display: block;
  content: '';
  clear: both;
}
.detail-wrap .list_tab ul.fixed {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 1180px;
  margin: 0 auto -1px;
  background: #fff;
  transition: all 0.5s;
}
.detail-wrap .list_tab li {
  float: left;
  width: 33.33333%;
  margin-left:-1px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.detail-wrap .list_tab li a{
  display:block;
  padding: 17px 0;
  color:#666;
  font-size: 18px;
  text-align: center;
}
.detail-wrap .list_tab li.on{
  z-index:1;
  border: 1px solid #ed1c24;
  border-bottom:1px solid #fff;
}
.detail-wrap .list_tab li.on a{
  color:#ed1c24;
}
.detail-wrap .list_content{
  margin-top:110px;
}
.detail-wrap .tab_cont{
  display:none;
}
.detail-wrap .tab_cont.on{
  display:block;
}
/* detail content */
.list_tab,
.dt-info-wrap,
.dt-configuration,
.dt-sample-sel-wrap {
  width: 1280px;
  margin: 70px auto 0 auto;
  padding: 0 50px;
}
.dt-section{
  margin-top:140px;
}
.dt-info-wrap .dt-info-intro img {
  display: block;
  margin: 0 auto;
}
.dt-info-wrap .dt-info-intro .intro-tit {
  margin: 100px auto 140px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 645px;
  letter-spacing: -2px;
}
.dt-info-wrap .quotes:before {
  display: block;
  width: 25px;
  height: 18px;
  margin: 0 auto 30px;
  content: '';
  background-image: url(../img/products_detail/left_quotes.png);
}
.dt-info-wrap .quotes:after {
  display: block;
  width: 25px;
  height: 18px;
  margin:30px auto 0;
  content: '';
  background-image: url(../img/products_detail/right_quotes.png);
}
.dt-info-wrap span.txt-c-red {
  color:#ed1c24;
  font-weight: 600;
}
.dt-info-wrap .dt-info-tit {
  margin-bottom: 13px;
  color: #3B302F;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
.dt-info-wrap .dt-info-tit::before{
  display: block;
  width: 67px;
  height: 7px;
  margin:0 auto 34px;
  content: '';
  background-image: url(../img/products_detail/featdot.png);
}
.dt-info-wrap .dt-info-subtit {
  color: #3B302F;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  letter-spacing: -2px;
}
.dt-info-wrap .features-imgbox{
  margin-top:37px;
}
.dt-info-wrap .features-lst-box {
  background: #FFF5F5;
}
.dt-info-wrap .features-lst-box ul {
  padding: 72px 100px;
}
.dt-info-wrap .features-lst-box .features-lst:after {
  display: block;
  content: '';
  clear: both;
}
.features-lst-box .features-lst{
  display:flex;
  margin-bottom:55px;
  align-items: center;
}
.features-lst-box .features-lst:last-child{
  margin-bottom:0;
}
.features-lst-box .features-lst .lst-num {
  width: 80px;
  margin-right:48px;
}
.features-lst-box .features-lst .lst-num p {
  width: 80px;
  height: 80px;
  background:#ed1c24;
  color:#fff;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  font-family: Poppins;
  box-sizing: border-box;
  border-radius:50%;
  font-style: normal;
}
.features-lst-box .features-lst .lst-txt .feat-lst-tit {
  margin-bottom: 10px;
  color: #3B302F;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
.features-lst-box .features-lst .lst-txt .feat-lst-txt {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -2px;
}
.dt-section .video-wrap{
  position:relative;
}
.dt-section .video-wrap > a{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.dt-section .related-lst > ul:after{display:block;content:'';clear:both;}
.dt-section .related-lst > ul {display:flex;width:100%;}
.dt-section .related-lst > ul > li {width:279px;margin-right:20px;}
.dt-section .related-lst > ul > li .related-tit {
  margin: 22px 0 13px;
  color: #3B302F;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -2px;
}
.dt-section .related-lst > ul > li .related-txt {
  color: #666;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -2px;
}
.dt-section .related-lst > ul > li.quickview-link {
  margin-right: 0;
  background: #FAFAFA;
  border-radius: 0px 30px;
}
.dt-section .related-lst > ul > li.quickview-link > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.dt-section .related-lst > ul > li.quickview-link img {
  display: block;
  margin: 0 auto 30px;
}
.dt-section .related-lst > ul > li.quickview-link .quickview-tit {
  margin-bottom: 10px;
  color: #3B302F;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 36px;
  letter-spacing: -2px;
}
.dt-section .related-lst > ul > li.quickview-link .quickview-txt {
  margin-bottom:43px;
  color: #3B302F;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -2px;
}
.dt-section .related-lst > ul > li.quickview-link .quickview-icon {
  position: relative;
  width: 39px;
  height: 39px;
  margin: 0 auto;
}
.dt-section .related-lst > ul > li.quickview-link .quickview-icon > span {
  display: inline-block;
  position:absolute;
  width: 39px;
  height: 1px;
  background: #f00;
}
.quickview-link .quickview-icon .qc-icon-w01{
  top:50%;
  left:0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.quickview-link .quickview-icon .qc-icon-w02 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
}
.dt-section.banner img{display:block;}
.dt-section.banner .banner-w1180{
  position:relative;
}
.dt-section.banner .banner-w1180 .banner-event-info {
  position: absolute;
  top: 50%;
  left: 94px;
  color:#3B302F;
  font-family: 'Noto Sans KR', sans-serif;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.dt-section.banner .banner-w1180 .banner-event-info .bn-ev-subtit {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -2px;
}
.dt-section.banner .banner-w1180 .banner-event-info .bn-ev-tit {
  margin: 13px 0 28px;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -2px;
}
.dt-section.banner .banner-w1180 .banner-event-info .bn-ev-term {
  display: inline-block;
  padding: 8px 30px;
  background: #3B302F;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 20px;
}
.dt-section.banner .banner-w1180 .banner-event-info .bn-ev-term {
  display: inline-block;
  padding: 8px 30px 10px;
  background: #3B302F;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 20px;
}
.dt-section.banner .bn-col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dt-section.banner .bn-col2 a {
  display: block;
  position: relative;
  width: 100%;
}
.dt-section.banner .bn-col2 a span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 36px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}




.configuration-tit {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
.composition .w564{
  width:564px;
}
.composition .w438{
  width:438px;
}
.composition .w178{
  width:178px;
}

#composition-tit ul{
  background: #3B302F;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}
#composition-tit ul:after{
  display: block;
  content: '';
  clear: both;
}
#composition-tit ul li{
  float:left;
  padding:22px 0;
  color:#fff;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  font-family: 'Noto Sans KR', sans-serif;

}
#composition-tit ul li span{
  display:block;
}
.tit-br-right {
  position: relative;
}
.tit-br-right:after{
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background:#fff;
  content: '';
  opacity: 0.3;
}
.composition-cont {
  display: flex;
  padding:20px 0;
  align-items: center;
}
/* .composition-cont01{
  height: 132px;
}
.composition-cont02{
  height: 132px;
} */
.composition-cont > div {
  display: flex;
  height: 100%;
  align-items: center;
}
.composition-cont .colum01 {
    width: 140px;
}
.composition-cont .colum02 {
    width: 73px;
}

.composition-cont .colum03 {
    width: 349px;
}
.composition-cont .colum04 {
    width: 439px;
}
.composition-cont .colum05 {
    width: 179px;
}
.composition-cont .comp-cont-tit,
.composition-cont .comp-cont-rem{
  display:block;
  text-align: center;
}
.composition-cont .comp-cont-tit{
  font-weight: 700;
  font-size: 16px;
}
.composition-cont > div * {
  display: block;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.composition-cont > div ul li {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.composition-cont > div ul li.br-b-no{
  border-bottom:0;
}
.composition-cont .li-h-normal{
  line-height: 44px;
}
.composition-cont .li-h-row1h5 {
  line-height: 67px;
}
.composition-cont .li-h-row2{
  line-height: 89px;
}
.composition-cont .li-h-row3{
  line-height: 133px;
}
.composition-cont .li-h-row4{
  line-height: 179px;
}
.composition-cont .li-h-row5{
  line-height: 221px;
}
.composition-cont .li-h-row6{
  line-height: 265px;
}
.composition-cont .li-h-row7{
  line-height: 309px;
}
.composition-cont > div ul li:last-child{
  border-bottom:0;
}
.composition-cont .process-tit li{
  text-align: center;
}
.composition-cont .process-txt li,
.composition-cont .learning-cont li{
  padding-left:20px;
}
.composition-cont > div.dotbg-right{
  position: relative;
  background-image: linear-gradient(#e2dbda 70%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 2px 5px;
  background-repeat: repeat-y;
}
.composition-cont02,
.composition-cont04{
  background:#fafafa;
}
.servicebox {
  padding: 37px 50px;
  background:#fafafa;
}
.servicebox ul:after {
  display: block;
  content: '';
  clear: both;
}
.servicebox ul li {
  float: left;
  width: 360px;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}
.servicebox ul li:nth-child(-n+3) {
  border-top:0;
}
.prd-office-searchbar {
  width: 100%;
  padding:35px 0;
  background: #fafafa;
}
.prd-office-searchbar .office-align {
  display: flex;
  width: 1195px;
  margin: 0 auto;
  align-items: center;
}

.prd-office-searchbar .office-align .onlinebtn {
  position: relative;
  margin-right: 90px;
  padding-right: 97px;
}
.prd-office-searchbar .office-align .office-search {
  display: flex;
  width: 755px;
  justify-content: flex-end;
  align-items: center;
}
.prd-office-searchbar .office-align .onlinebtn:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 90%;
  background: #aaa;
  content: '';
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.prd-office-searchbar .office-align .onlinebtn > div {
  width: 342px;
  text-align: center;
}
.prd-office-searchbar .office-align .onlinebtn > div p {
  margin-bottom:10px;
  color: #666;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}

.prd-office-searchbar .office-align .onlinebtn > div a {
  display: block;
  padding: 15px 0;
  background: #ED1C24;
  color: #fff;
  vertical-align: middle;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 30px;
  box-sizing: border-box;
}

.prd-office-searchbar .office-align .onlinebtn > div a span {
  margin: 0 15px 0 11px;
  font-weight: bold;
  font-size: 21px;
}
.prd-office-searchbar .office-align .onlinebtn > div a img,
.prd-office-searchbar .office-align .onlinebtn > div a span {
  display: inline-block;
  vertical-align: middle;
}
.prd-office-searchbar .office-align .office-search span {
  margin: 0 36px 0 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
.prd-office-searchbar .office-align .office-search .officesearch {
  position: relative;
  width: 297px;
  margin: 0 auto;
}
.prd-office-searchbar .office-align .office-search .officesearch input {
  width: 100%;
  padding: 13px 20px;
  border: 1px solid #AAAAAA;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.prd-office-searchbar .office-align .office-search .officesearch input:focus {
  border: 1px solid #ED1C24;
}
.prd-office-searchbar .office-align .office-search .officesearch button.btn-search {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 18px;
  height: 18px;
  background: url(../../resource/img/products_detail/office_btn03.png);
  text-indent: -99999px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}


/* sample */
.dt-sample-sel-wrap {
  margin-bottom: 90px;
}
.sample-option-tit {width: 100%;padding: 0 80px;}
.sample-option-tit .lv {
    width: 690px;
}
.sample-option-tit .age {
    width: 240px;
}
.sample-option-tit p {
  float: left;
  color: #3B302F;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  font-family: 'Noto Sans KR', sans-serif;
}
.sample-option-tit:after {display: block;content: '';clear: both;}
.sample-option-select {
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 10px;
}
.sample-option-select .sam-op-box {
  width: 1180px;
  padding: 32px 80px;
}
.sample-option-select .sam-op-box .sam-op-graph {
  text-align: right;
}
.sample-option-select .sam-op-box .sam-op-graph p {
  display: inline-block;
  padding-right: 90px;
}
.sample-option-select .sam-op-box .sam-op-graph p:before {
  position: absolute;
  left: -40px;
  content: "기초";
}
.sample-option-select .sam-op-box .sam-op-graph p:after {
  position: absolute;
  right: 50px;
  content: "심화";
}
.lv-select {
  padding: 10px 0px 11px;
  background-image: linear-gradient(to right, #e2dbda 70%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}
.lv-select ul {
  display: flex;
  align-items: center;
}
.lv-select .lv-sel-btnbox {
  width: 690px;
  text-align: left;
}
.lv-select .lv-select-tit {
  width: 240px;
  text-align: center;
}
.lv-select .lv-select-tit div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.lv-select .lv-select-tit div span {
  margin-left: 15px;
  color: #666;
  font-size: 18px;
}
.lv-select button.lv_btn {
  display: block;
  float: left;
  width: 90px;
  margin-right: 10px;
  padding: 8px 0;
  background: #aaa;
  color:#fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
  box-sizing: border-box;
}
.lv-select button.lv_btn.on {
  background: #ed1c24;
  transition: all 0.3s ease-in;
  
}
.lv-select button.lv_btn:last-child{
  margin-right:0;
}
.dt-sample-slider-wrap .dt-sample-slide{
  padding:12vh 0;
}
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide {
  width: 300px;
  transition: all 0.5s ease-in;
}
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide.swiper-slide-active {
  transition: all 0.5s ease-in;
  transform: scale(1.4); 
  -webkit-transform: scale(1.4); 
  -ms-transform: scale(1.4); 
  -moz-transform: scale(1.4); 
}
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide .tit {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0;
}
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide img{
  text-align: center;
  display: block;
  margin:0 auto;
  width:100%;
  box-shadow: 11px 15px 30px rgba(0, 0, 0, 0.1);
}
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide .txt{
  text-align:center;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0;
}
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide.swiper-slide-active .tit,
.dt-sample-slider-wrap .dt-sample-slide .swiper-slide.swiper-slide-active .txt{
  opacity: 1;
  transition: all 0.5s ease-in;
}
.dt-sample-slider-wrap .dt-sample-slider_arrow{
  position: absolute;
  max-width: 640px;
  width: 990px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 10;
}
.dt-sample-slider-wrap .dt-sample-slider_arrow .swiper-button-next,
.dt-sample-slider-wrap .dt-sample-slider_arrow .swiper-button-prev{
  width:70px;
  height:70px;
  background-size:70px;
  margin-top:-50px;
}
.dt-sample-slider-wrap .dt-sample-slider_arrow .swiper-button-next{
  background-image: url(../../resource/img/growth_next.png);
}
.dt-sample-slider-wrap .dt-sample-slider_arrow .swiper-button-prev{
  background-image: url(../../resource/img/growth_prev.png);
}
.dt-sample-pag {
  text-align: center;
  margin: 15px auto 0;
}
.dt-sample-pag .swiper-pagination {
  position: initial;
}
.dt-sample-pag .swiper-pagination .swiper-pagination-bullet{
  margin:0 15px
}